* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

section {
  height: 100vh;
}

.section-1 {
  background-color: gray;
}

.section-2 {
  background-color: black;
}

.section-3 {
  background-color: darkred;
}
